/* Columns */
.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-big);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width < 768px) {
  .columns[class*="gap-"] {
    > div {
      gap: var(--spacing-big);
    }
  }
}