/* Accordion */
.accordion .accordion-item {
  border-top: 2px solid var(--color-neutral-300);
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);

  &:first-child {
    border-top: 0;
  }
}

.accordion details summary {
  font: var(--type-headline-2-strong-font);
  position: relative;
  padding-right: var(--spacing-large);
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}

.accordion details summary p {
  margin: var(--spacing-xsmall) 0 0 0;

  &:first-child {
    margin-top: 0;
  }
}

.accordion details[open] summary {
  /* background-color: var(--color-neutral-200); */
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 45%;
  right: 6px;
  transform: translateY(-45%) rotate(135deg);
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-width: 3px 3px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-15%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding-top: 16px;
}

.accordion details .accordion-item-body p {
  margin-top: var(--spacing-small);
  margin-bottom: 0;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

.accordion details[open] .accordion-item-body {
  background-color: var(--background-color);
}
