/* Grid */
.grid > div {
  display: flex;
  gap: var(--spacing-big);
}

.grid > div > div {
  flex: 1 1 auto;
}

@media (width < 768px) {
  .grid > div {
    flex-direction: column;
  }

  .grid[class*="gap-"] {
    > div {
      gap: var(--spacing-big);
    }
  }
}
